.container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 150px auto;
  }
  
  .box {
    margin: 10px 0;
  }

  .text-button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    padding: 0;
}

.text-button:hover {
    color: darkblue;
}